.contact-container {
    padding: 8rem 2rem 2rem 2rem;
    text-align: center;
    color: #0b285e;
}

.contact-container h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.contact-columns {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: flex-start;
}

.contact-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}

.contact-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-column p {
    margin: 0.25rem 0;
    font-size: 1.1rem;
}

.linkedin-logo {
    width: 60x; /* Adjust size as needed */
    height: 30px;
    margin-top: 0.75rem;
    transition: transform 0.2s ease;
}

.linkedin-logo:hover {
    transform: scale(1.0);
}

.github-logo {
    width: 60x; /* Adjust size as needed */
    height: 60px;
    margin-top: 0.75rem;
    transition: transform 0.2s ease;
}

.github-logo:hover {
    transform: scale(1.0);
}